<ion-view title="フィードバック">
    <ion-content padding="true" class="has-header" scroll="false">
        <form name="feedback" novalidate  ng-submit="save(feedback)" >
            <div class="list">
                <div class="button-bar">
                    <a class="button icon ion-android-happy" ng-class="{'button-balanced': isActive('happy')}" ng-click="setActive('happy')"></a>
                    <a class="button icon ion-android-sad"  ng-class="{'button-balanced': isActive('sad')}" ng-click="setActive('sad')"></a>
                </div>
                <label class="item item-input item-floating-label">
                    <span class="input-label">内容</span>
                    <textarea ng-model="feedback.content" name="feedback-content" rows="10" placeholder="内容"></textarea>
                </label>
            </div>
            <button type="submit" class="button button-full button-balanced" ng-disabled="!feedback.content || feedback.content === ''">送信</button>
        </form>
    </ion-content>
</ion-view>