<ion-view title="TimeLine">
  <ion-content padding="false" class="has-header">
    <div class="list card"  ng-repeat="data in datas">
      <div class="item item-body">
        <p>
          id:{{data.id}}
        </p>
          {{data.body}}
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i> Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i> Comment
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
